<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : 어떤 mapper 인터페이스와 연결할지를 지정 -->
<mapper namespace="com.blog.mapper.StudentMapper">

	<!-- id : Mapper 인터페이스의 메서드이름과 정확히 일치해야 됨 
		useGeneratedKeys="true" auto_increment 사용. 
		유일한 번호가 자동저장 keyProperty="id" Student class에 있는 id 멤버변수를 의미하고 setId 메서드를 
		이용하여 id에 insert 한 값이 자동 저장된다 -->

	<!-- insert 태그 
		- 데이터베이스에 새로운 레코드를 추가하는 SQL 정의 
		- id 값은 Mapper 인터페이스의 메서드명과 반드시 일치해야 함 
		- parameterType : 전달받을 Java 객체 타입 
		- useGeneratedKeys="true" : auto_increment PK 값을 사용 
		- keyProperty="id" : 생성된 PK 값을 Student 객체의 id 필드에 자동 주입 
	-->
	<insert id="insertStuent"
		parameterType="com.blog.domain.Student" useGeneratedKeys="true"
		keyProperty="id">
		insert into student (name,age, major, file_path, file_name, file_size)
		values (#{name},#{age},#{major},#{filePath},#{fileName},#{fileSize})
	</insert>


	<!-- select 태그 
		- 전체 학생 목록을 조회하는 SQL 
	-->
	<select id="selectAllStudents"
		resultType="com.blog.domain.Student">
		select * from student order by id asc
	</select>


	<!-- select 태그 
		- 특정 id에 해당하는 학생 1명을 조회 
		- parameterType="int" : 전달받는 id 값의 타입 
		- #{id} : PreparedStatement 방식으로 안전하게 값 바인딩 
	-->
	<select id="selectStudentById" parameterType="int"
		resultType="com.blog.domain.Student">
		select * from student where id = #{id}
	</select>


	<!-- update 태그 
		- 기존 학생 정보를 수정하는 SQL 
		- parameterType : 수정할 값들을 담고 있는 Student 객체 
		- id 기준으로 name, age, major, 파일 관련 컬럼을 모두 갱신 
	-->
	<update id="updateStudent"
		parameterType="com.blog.domain.Student">
		update student set
		name=#{name},
		age=#{age},
		major=#{major},
		file_path = #{filePath},
		file_name = #{fileName},
		file_size = #{fileSize}
		where id=#{id}
	</update>

	<!-- delete 태그 
		- 특정 id에 해당하는 학생 데이터를 삭제 
		- parameterType="int" : 삭제 대상 학생의 id 
	-->
	<delete id="deleteStudent" parameterType="int">
		delete from student where id=#{id}
	</delete>
</mapper>
